html {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
display: grid;
  grid-template-rows: 10% auto 10% 10% 10% 5%;
  grid-template-columns: 30% 30% auto;

  grid-template-areas:
    "preview-buttons preview-buttons settings"
    "preview preview settings"
    "preview preview settings-buttons"
    "preview preview draw-buttons"
    "info print-info control-buttons"
    "progress-bar progress-bar progress-bar";

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#preview-buttons {
  grid-area: preview-buttons;
  overflow: hidden;
}

#preview {
  grid-area: preview;
  overflow: hidden;
  padding: 3em;
}

#info {
  grid-area: info;
  padding: 1em;
  overflow: auto;
}

#print-info {
  grid-area: print-info;
  padding: 1em;
  overflow: auto;
}

#settings {
  grid-area: settings;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em;
}

#settings-buttons {
  grid-area: settings-buttons;
  overflow: hidden;
}

#draw-buttons {
  grid-area: draw-buttons;
  overflow: hidden;
}

#control-buttons {
  grid-area: control-buttons;
  overflow: hidden;
}

#progress-bar {
  grid-area: progress-bar;
  overflow: hidden;
}

#progress-bar progress {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.big-button-label {
  margin: 0.3em;
  flex: 1 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100% - 0.6em);
  cursor: pointer;

  border: 1px solid #999999;
  border-radius: 0.2em;

  background-color: #f0f0f0;
}

.big-button-label:hover {
  background-color: #f5f5f5;
}

.big-button-label:active {
  background-color: #fdfdfd;
}

:disabled+.big-button-label {
  background-color: #f0f0f0;
  cursor: auto;
  opacity: 50%;
}

.big-button-label p {
  text-align: center;
  font-size: 130%;
  margin: 0;
}

.small-button {
  display: block;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 0.2em;

  background-color: #f0f0f0;
}

.small-button:hover {
  background-color: #f5f5f5;
}

.small-button:active {
  background-color: #fdfdfd;
}

.small-button:disabled {
  background-color: #f0f0f0;
  cursor: auto;
  opacity: 50%;
}

table .small-button {
  margin: 0.5em 0em;
  width: 100%;
  height: 2em;
}

.hidden-input {
  display: none;
}

#preview-img {
  max-width: 100%;
  max-height: 100%;
}


#settings table {
  all: unset;
  box-sizing: border-box;
}

#settings * {
  line-height: 1.5em;
}


#settings tbody:nth-child(1) tr:only-child {
  display: none;
}

#settings tbody:nth-child(1)::after {
  content: '';
  display: block;
  height: 3em;
}

#settings td {
  padding: 0.2em 0.5em;
}

.input-label {
  display: block;
  padding: calc(0.1em);
  min-height: calc(1.5em + 0.2em + 2px);
  width: 100%;
  text-align: right;
}

.reset-button {
  all: unset;
  box-sizing: border-box;

  padding: 0.1em;
  border: 1px solid white;
  background-color: #f0f0f0;
  border-radius: calc(1.5em + 0.2em + 2px);
  width: calc(1.5em + 0.2em + 2px);
  height: calc(1.5em + 0.2em + 2px);
  text-align: center;
  color: #a22;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #fdd;
}

.reset-button:active {
  background-color: #fbb;
}

.reset-button:disabled {
  background-color: #f0f0f0;
  cursor: auto;
  opacity: 50%;
}

.input-field {
  all: unset;
  box-sizing: border-box;

  padding: 0.1em;
  border: 1px solid #999999;
  border-radius: 2px;
  width: calc(5em + 0.2em + 2px);
  height: calc(1.5em + 0.2em + 2px);
}

.input-checkbox {
  font-size: inherit;
  margin: 0;
  cursor: pointer;
  width: calc(5em + 0.2em + 2px);
  height: calc(1.5em + 0.2em + 2px);
  display: block;
}

.input-description {
  min-height: calc(1.5em + 0.2em + 2px);
  display: block;
}

.input-color-square {
  cursor: pointer;
  display: block;
  width: calc(1.5em + 0.2em + 2px);
  height: calc(1.5em + 0.2em + 2px);
  border: 2px;
  border-color: #bbbbbb;
  border-radius: calc(0.2em);
  opacity: 50%;
  border-style: dashed;
  margin: auto;
}

:checked + .input-color-square {
  border-style: solid;
  opacity: 100%;
}

.input-color-square:hover {
  border-color: #888888;
}

.input-color-square:active {
  border-color: #aaaaaa;
}
